/* Colores */
$logoNegro: #252525;
$logoRojo: #e93b45;
$blanco: #ffffff;
$negro: #000000;
$verde: #009B57;
$azul: #008AFF;
$morado: #7D63FF;

/* Fuente */
$fuente: 'Poppins', sans-serif; /* Remplazo de futura */

/* Tamaño de Media Queries */
$telefono: 320px;
$tablet: 768px;
$escritorio: 1024px;