@use 'base/variables' as v;
@use 'base/mixins' as m;

.inventario-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include m.tablet {
        flex-direction: row;
    }

    .boton-Pendiente {
        color: v.$negro;
        font-size: 1.4rem;
        width: 100%;
    }
}